body {
    font-family: Times New Roman, Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-image:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #;
    padding: 10px;
}

.uac img {
    width: 100px;
    height: 100px;
    align: left
}

.eneam img {
    width: 100px;
    height: 112px;
    align: right
}

.maphoto {
    display: block;
	margin: auto;
}

.header-text {
    flex-grow: 3;
    text-align: center;
}

header h1 {
    margin: 30;
    font-size: 30px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
	text-align: center;
	font-size: 25px;
}

ol {
    margin-top: 0;
}

ol li {
    margin-bottom: 5px;
}

main p {
    text-align: justify;
	line-height: 25px;
	font-size: 20px;
	text-indent:30px;
}

main ol {
    text-align: justify;
	line-height: 25px;
	font-size: 20px;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	   }
	100% {
		background-position: 100% 50%;
	   }
}

body {
	background:linear-gradient(to right, #a25fff, #d4ccc6, #33c2e6, rgb(202, 191, 191), #ff7e5f, #feb47b, #ffdd8e);
	background-size:200% 200%;
	animation:gradientAnimation 60s ease infinite;
}

.cursus a {
	color: black;
	text-decoration: none;
}

.cursus a:hover {
	text-decoration: underline;
}